.container {
    margin-left: calc(280px + 1rem);
    margin-right: 1rem;
}

.card {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1rem;
}