.container {
    margin-right: 1rem;
    padding-top: 1rem;
}

.card {
    background-color: white;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin: auto;
    margin-bottom: 2rem;
    padding: 1.5rem;
    

    input {
        background-color: var(--color-slate-100);
    }
}