.cardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.75rem;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    color: var(--color-text-muted);
}

.lastItem {
    color: var(--color-text);
}

.breadcrumbItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
}

.backButton {
    color: var(--color-text);
    font-size: 1rem;
    font-weight: 500;
}

@media (max-width: 768px) {
    .cardHeader {
        justify-content: flex-start;
        padding-bottom: 0;
        margin-bottom: 2rem;
    }

    .cardHeader strong {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--color-text);
    }

    .breadcrumb {
        display: none;
    }

    .backButton {
        display: none;
    }
}