
.title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 1rem;
}


.acoes {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
}