.container {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    gap: 28px;
}

.backButton {
    align-self: flex-start;
    margin-top: 3rem;
}

.logoContainer {
    display: flex;
    justify-content: left;
}

.logo {
    width: 6rem;
    height: 6rem;
    align-self: center;
}

.titleSubtitle {
    text-align: left;
    font-weight: bold;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-text);
    margin: 0 0 0.5rem 0;
}

.subtitle {
    font-size: 1.125rem;
    color: var(--color-primary);
    font-weight: 500;
}

.instruction {
    font-weight: bold;
}

.forgotPassword {
    text-align: center;
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    font-size: 1rem;
}

.buttonContainer {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 16px;
}