.container {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    margin-right: 24px;
    gap: 28px;
    background-color: var(--color-slate-100);
}

.backButton {
    align-self: flex-start;
    margin-top: 3rem;
}

@media (min-width: 768px) {
    .backButton {
        display: none;
    }
}

.logoContainer {
    display: flex;
    justify-content: left;
}

.logo {
    width: 6rem;
    height: 6rem;
    align-self: center;
}

@media (min-width: 768px) {
    .logo {
        display: none;
    }
}

.titleSubtitle {
    text-align: left;
    font-weight: bold;
}

.title {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-text);
    margin: 0 0 0.5rem 0;
}

.subtitle {
    font-size: 1.125rem;
    color: var(--color-primary);
    font-weight: 500;
}

@media (min-width: 768px) {
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 2rem;
    }
}

.instruction {
    font-weight: bold;
}

.forgotPassword {
    text-align: center;
    background-color: transparent;
    color: var(--color-primary);
    border: none;
    font-size: 1rem;
    margin-bottom: 2rem;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkboxButton {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    input {
        width: 1.25rem;
        height: 1.25rem;
        accent-color: var(--color-primary);
        color: white;
    }
}