.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 12vh;
    padding-bottom: 15vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@media (min-width: 768px) {
    .container {
        margin: 12rem;
        margin-bottom: 0;
        margin-top: 0;
        width: 75%;
        margin-right: auto;
        margin-left: auto;
        position: relative;
    }
} 

.backgroundImage {
    position: absolute;
    z-index: 1;
}

.logo {
    width: 40%;
    position: relative;
    z-index: 2;
}

.contentContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}


@media (min-width: 768px) {
    .contentContainer {
        margin-bottom: 3rem;
        min-height: 150px;
    }
}

.progressContainer {
    z-index: 30;
    display: flex;
    gap: 4px;
    width: 100%;
}

.progressBarBase {
    margin-top: 4rem;
    height: 4px;
    flex: 1;
    border-radius: 9999px;
    transition: background-color 0.3s ease;
}

.progressBarActive {
    background-color: #1e293b;
}

.progressBarInactive {
    background-color: #d1d5db;
}

.button {
    margin-top: 16px;
    margin-bottom: 16px;
    z-index: 40;
}

@media (min-width: 768px) {
    .button {
        display: none;
    }
}


.clickablePanel {
    z-index: 20;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
} 