.acoes {
    position: relative;

    display: flex;
    gap: 15px;
    justify-content: left;
    align-items: center;
    color: var(--color-primary);
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.nomeCompleto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.excluirInfo {
    position: absolute;
    display: flex;
    opacity: 1;
    visibility: visible;
    color: var(--color-error);
    flex-direction: row;
    gap: 0.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.filterModalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}