.mobileContainer {
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 6rem;
    min-height: 100vh;
}

.desktopContainer {
    display: none;
}

.actionButton {
    cursor: pointer;
}

@media (max-width: 768px) {
    .actionButton {
        background-color: var(--color-slate-100);
        border: 1px solid var(--color-border);
        border-radius: 8px;
        padding: 4px;
        width: 28px;
        height: 28px;
    }
}

@media (min-width: 768px) {

    .mobileContainer {
        display: none;
    }

    .desktopContainer {
        display: block;
    }
}

.acoes {
    position: relative;
    display: flex;
    gap: 1rem;
    justify-content: left;
    align-items: center;
    color: var(--color-primary);
}

.avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.nomeCompleto {
    display: flex;
    align-items: center;
    gap: 10px;
}

.excluirInfo {
    position: absolute;
    display: flex;
    opacity: 1;
    visibility: visible;
    color: var(--color-error);
    flex-direction: row;
    gap: 0.5rem;
    background-color: white;
    padding: 0.5rem;
    border-radius: 8px;
    border: 1px solid var(--color-border);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

}

.filterModalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

.avatarInitials {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--color-slate-200);
    color: var(--color-text);
    display: flex;
    align-items: center;
    justify-content: center;
}