
.toggleContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1rem;
}

.toggle {
    position: relative;
    width: 48px;
    border-radius: 12px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    align-items: center;
    padding: 2px;
}

.toggleOff {
    background-color: var(--color-gray-200);
}

.toggleOn {
    background-color: var(--color-primary);
}

.toggleCircle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: transform 0.2s ease;
}

.toggleOn .toggleCircle {
    transform: translateX(24px);
}

.toggleOff .toggleCircle {
    transform: translateX(0);
}

.toggleText {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-text);
    min-width: 30px;
}

.newRoomModalContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.acoes {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    color: var(--color-primary);
}

.occupied {
    color: var(--color-error);
    font-weight: 500;
    display: flex;
    align-items: center
}

.available {
    color: var(--color-primary);
    font-weight: 500;
    display: flex;
    align-items: center
}

.occupiedIcon {
    width: 10px;
    height: 10px;
    background-color: var(--color-error);
    border-radius: 50%;
    margin-right: 0.5rem;
    overflow: hidden;
}

.availableIcon {
    width: 10px;
    height: 10px;
    background-color: var(--color-primary);
    border-radius: 50%;
    margin-right: 0.5rem;
    overflow: hidden;
}

.filterModalContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media (min-width: 1490px) {
    .occupiedTextBig {
        display: block;
    }
    .availableTextBig {
        display: block;
    }
    .availableTextSmall {
        display: none;
    }
    .occupiedTextSmall {
        display: none;
    }
}

@media (max-width: 1490px) {
    .occupiedTextBig {
        display: none;
    }
    .availableTextBig {
        display: none;
    }
    .availableTextSmall {
        display: block;
    }
    .occupiedTextSmall {
        display: block;
    }
}

@media (max-width: 768px) {
    .actionButton {
        background-color: var(--color-slate-100);
        border: 1px solid var(--color-border);
        border-radius: 8px;
        padding: 4px;
        width: 28px;
        height: 28px;
        cursor: pointer;
    }

    .buttonsTop {
        display: flex;
        margin-top: 1rem;
        flex-direction: row-reverse;
        gap: 4rem;
        max-height: 40px;
        align-items: center;
        justify-content: center;
    
    
        /* botao ter seu tamanho baseado no tamanho do conteudo dentro dele*/
        > * {
            flex: 1;
            white-space: nowrap;
        }
    }

    .occupiedTextBig {
        display: block;
    }
    .availableTextBig {
        display: block;
    }
    .availableTextSmall {
        display: none;
    }
    .occupiedTextSmall {
        display: none;
    }
}

.mobileContainer {
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 6rem;
    min-height: 100vh;
}