.container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.label {
    font-size: 1rem;
    color: var(--color-text);
    font-weight: 500;
}

.labelError {
    color: var(--color-destructive);
}

.input {
    padding: .5rem;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-sm);
    font-size: .875rem;
    outline: none;
    transition: border-color 0.2s ease;
    background-color: var(--color-white);
    color: var(--color-text); 
    height: 40px;  
}

.input::placeholder {
    color: var(--color-text-muted);
}

.input:focus {
    border-color: var(--color-primary);
}

.inputError {
    border-color: var(--color-destructive);
}

.inputError:focus {
    border-color: var(--color-destructive);
}

.errorText {
    font-size: 0.75rem;
    color: var(--color-destructive);
    margin-top: 0.25rem;
} 

.searchOptions {
    position: absolute;
    background-color: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 8px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    top: 0;
    width: 100%;
    gap: 4px;
    padding: 6px;
}

.option {
    padding: 5px;
    font-size: 14px;
    color: var(--color-text);
    cursor: pointer;
    transition: background-color 0.2s ease;
    background-color: var(--color-white);
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.option:hover {
    background-color: var(--color-slate-100);
}

.searchOptionsContainer {
    position: relative;
    width: 100%;
}

.warningOnRight {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    color: var(--color-warning);
    margin-left:auto;

}
