/* 
place all the class names first
*/

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.textAndButtonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
    gap: 1rem;
}

.checkButton {
    background-color: white;
    border-radius: 10px;
    color: var(--color-primary);
    border: 1px solid var(--color-border);
    white-space: nowrap;
}

.selected {
    color: red;
}


.checkButtonText {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    font-weight: 800;
    align-items: center;
    padding: 0.5rem;
}

.daySelectorText {
    font-size: 0.9rem;
    font-weight: 400;
}


.daysContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.dayButton {
    padding: 0.5rem 0.7rem;
    background-color: var(--color-white);
    border-radius: 5px;
    border: 1px solid var(--color-border);
}