.allWeekContainer {
    display: flex;
    align-items: center;
    gap: 0.75rem;

    input {
        width: 1.25rem;
        height: 1.25rem;
        background-color: var(--color-white);
        color: white;
    }
}

.weekDays {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.75rem;
    margin: 1rem;
    margin-left: 2rem;
}

.weekDay {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    input {
        width: 1.25rem;
        height: 1.25rem;
        background-color: var(--color-primary);
        color: white;
    }
}

