.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 85px;
  background-color: var(--color-white);
  z-index: 10;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
}

.tabContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 100%;
}

.tab {
    flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 1rem;
  transition: color 0.2s ease;
  color: var(--color-text);
}

.tab:hover {
  color: var(--color-text);
}

.tabActive {
  color: var(--color-primary);
}

.tabIconActive {
  color: var(--color-white);
  background-color: var(--color-primary);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  width: 4rem;

  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  height: 2rem;

  border-radius: 25px;
}

.tabIcon {
  flex-shrink: 0;
  transition: color 0.2s ease;
}

.tabLabel {
  font-size: 0.75rem;
  font-weight: 500;
} 