.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--color-slate-100);
    z-index: 20;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.menuButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--color-text);
  transition: color 0.2s ease;
}

.menuButton:hover {
  color: var(--color-primary);
}

.notificationButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.5rem;
  color: var(--color-text);
  transition: color 0.2s ease;
  position: relative;
}

.notificationButton:hover {
  color: var(--color-primary);
} 