.container {
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 6rem; /* Space for fixed footer */
    min-height: 100vh;
  }
  
  .section {
    margin-bottom: 1.5rem;
  } 

  .gobackHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 24px;
    z-index: 20;
    background-color: var(--color-slate-100);
  }