.title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.newGuestModalContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.newGuestModalContent > input {
    background-color: white !important;
}

.newGuestModalContent > input:focus {
    background-color: white !important;
}

.acoes {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--color-primary);
}