
.title {
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-text);
    margin-bottom: 1rem;
}

.acoes {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    > button {
        padding: 0.75rem 1rem;
        border-radius: 12px;
        border: 2px solid var(--color-border);
    }
}

.seenIcon {
    width: 10px;
    height: 10px;
    background-color: #FAD24F;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.criadoEm {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.detalhesModalContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.part {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.partTitle {
    font-size: 1rem;
    font-weight: 700;
    color: var(--color-text);
}

.partValue {
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-text);
}